/* .card-header {
    
}

.background {
  background:linear-gradient(169deg, #FFF 5%, #D2D3D9 91.69%);
}
.background-2nd {
background: linear-gradient(164deg, #6348FE 4.74%, #610595 88.83%, #d53aff);

}

.header {
    background: #2f2f2f;
  
}
.content{
 background: #adb5be;
} */

